.itemLink {
    color: white;
    text-decoration: none;
    font-weight: 400;
}
.activeLink {
    color: #e38443;
    font-weight: 600;
}
.navbarItem {
    padding: 5px 10px;
    border-radius: 5px;
    transition: .3s ease-out;
    min-width: 90px;
    text-align: center;
}
.navbarItem:hover {
    background-color: rgba(227, 132, 67, 0.34);
}