.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.skillsTitle {
    font-size: 1.7rem;
}
.skillsItems {
    display: flex;
    flex-wrap: wrap;
    max-width: 1075px;
    gap: 40px;
    justify-content: space-between;;
}

@media (max-width: 640px) {

    .skillsItems {
        justify-content: center;
    }

}