.about {
    min-height: calc(100vh - 121px);display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    justify-content: space-around;
    align-items: center;
}
.aboutText {
    display: flex;
    flex-direction: column;
    max-width: 370px;
}
.aboutText p:first-child {
    font-size: 1.8rem;
}
.aboutText h1 {
    color: #e38443;
    margin: 0;
    font-size: 5.5rem;
}
.aboutText a {
    width: 170px;
    background-color: #e38443;
    text-align: center;
    padding: 20px 30px;
    border-radius: 5px;
    color: #262626;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0;
}
.aboutPhoto {
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.aboutPhoto img {
    width: 350px;
    height: 500px;
}