.about {
    min-height: calc(100vh - 121px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
}
.container {
    justify-content: space-around;
    align-items: center;
}
.aboutText {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}
.aboutText p:first-child {
    font-size: calc(20px + 20 * (100vw / 1280));
}
.aboutText h1 {
    color: #e38443;
    margin: 0;
    font-size: calc(40px + 20 * (100vw / 1280));
}
.aboutText a {
    width: 170px;
    background-color: #e38443;
    text-align: center;
    padding: 20px 30px;
    border-radius: 5px;
    color: #262626;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0;
}
.aboutPhoto img {
    width: 400px;
    border-radius: 10px;
}

@media (max-width: 820px) {

    .aboutPhoto img {
        width: 300px;
    }

}
@media (max-width: 640px) {

    .aboutPhoto img {
        width: 200px;
    }
    .aboutText {
        align-items: center;
    }

}
@media (max-width: 505px) {

    .aboutText {
        text-align: center;
    }

}